$font-family--roboto: 'roboto', sans-serif;
$font-family--lato: 'lato', sans-serif;

$color-white: #FFFFFF;
$color-dark-grey: #A0A4A8;
$color-grey: #F2F2F2;
$color-red: #EB4747;

$color-text-grey: #A0A4A8;

$screen-table: 768px;
$screen-desktop: 1280px;

